<!DOCTYPE html>
<html>
<head>
  <title>Arr! Make a Pirate!</title>
</head>
<body>
<h1> Add a Pirate and Ship!</h1>
<h2>Pirate Information</h2>
<form action="/pirates" method="POST">
<label for="pirate[name]">Name:</label>
<input name="pirate[name]"><br>
<label for="pirate[weight]">Weight:</label>
<input name="pirate[weight]"><br>
<label for="pirate[height]">Height:</label>
<input name="pirate[height]"><br>


<h2>Ship 1 Information</h2>
<label for="pirate[ships][][name]">Name</label>
<input name="pirate[ships][][name]" id="ship_name_1"><br>
<label for="pirate[ships][][type]">Type</label>
<input name="pirate[ships][][type]" id="ship_type_1"><br>
<label for="pirate[ships][][booty]">Booty</label>
<input name="pirate[ships][][booty]" id="ship_booty_1"><br>
<h2>Ship 2 Information</h2>
<label for="pirate[ships][][name]">Name</label>
<input name="pirate[ships][][name]" id="ship_name_2"><br>
<label for="pirate[ships][][type]">Type</label>
<input name="pirate[ships][][type]" id="ship_type_2"><br>
<label for="pirate[ships][][booty]">Booty</label>
<input name="pirate[ships][][booty]" id="ship_booty_2"><br>

<button type="submit" name="submit">Submit</button>
</form>
</body>
</html>